
span{
    display: block;
    margin-right:1rem
}
.search-container{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container input{
    font-size: 1.2rem;
    border: 1px solid #000;
    padding: 0.4rem 0.4rem;
    width: 30%;
}