/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el margen se manejen correctamente */
}

:root {
    --font_principal: 'Poppins', sans-serif;
    --font_secundario: 'Montserrat', sans-serif;
}
body{
    font-family: var(--font_secundario) !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    background-color: transparent; 
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
    z-index: 1000;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.155); /* Borde negro fino en la parte inferior */
}

.logo img {
    width: 40px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black; /* Color del texto en negro */
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Transiciones para color y fondo */
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    position: relative; /* Para el efecto de animación */
}

.nav-links a:hover {
    outline: 2px solid black; 
    color: black; /* Cambia el color del texto a blanco */
    border-radius: 10px; /* Esto no afecta el tamaño del botón */
    transform: scale(1.05); /* Efecto de escalado al pasar el mouse */
}

.nav-links a:active {
    color: darkgray; /* Cambia el color al hacer clic */
    transform: scale(0.95); /* Efecto de escalado al hacer clic */
}
