/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el margen se manejen correctamente */
}

:root {
    --bw-filter: grayscale(100%); /* Filtro en blanco y negro */
    --font_principal: 'Poppins', sans-serif;
    --font_secundario: 'Montserrat', sans-serif;
}

.navbar {
    position: absolute; /* Posiciona la barra de navegación de manera absoluta */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
    z-index: 2; /* Asegúrate de que esté por encima de otros elementos */
    background-color: transparent; /* Fondo transparente para que la imagen se vea */
    padding: 10px; /* Espaciado interno */
}

.nav-links {
    list-style: none; /* Sin viñetas */
    display: flex; /* Muestra los enlaces en fila */
    gap: 20px; /* Espacio entre los enlaces */
}

.nav-links a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color del texto */
    font-family: var(--font_secundario); /* Fuente secundaria */
    transition: color 0.3s; /* Transición suave para el color */
}

.nav-links a:hover {
    color: gray; /* Cambia el color al pasar el ratón */
}

.nav-links a {
    padding: 8px 12px; /* Agrega padding para que el fondo sea visible */
    border-radius: 4px; /* Esquinas redondeadas */
}

.nav-links a:hover {
    background-color: gray; /* Cambia el fondo a gris */
    color: white; /* Cambia el texto a blanco */
}
