/* Entradas de Blog */
/******************************************/
.entrada h2 {
    color: #00B8E4;
    margin-bottom: 20px;
}

.entrada {
    margin-bottom: 60px;
}

.entrada:last-of-type {
    margin-bottom: 0;
}

/* Por defecto queremos que la imagen se muestre como un bloque ocupando todo el
espacio disponible en la pantalla */
.entrada img {
    display: block;
}

.entrada p {
    text-align: justify;
    padding: 5px;
}

.entrada .boton {
    background-color: #00B8E4;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    /* Propiedad avanzada para animación de elementos*/
    transition: background-color .3s ease-in-out;
}

.entrada .boton:hover {
    background-color: rgb(0, 131, 164);
}